<md-toolbar color="primary">
  <button class="title" md-button>
    <md-icon>home</md-icon>
    <span>PlayYourSong</span>
  </button>
  <span class="search-box">
    <md-input-container class="search-sm" [dividerColor]="'accent'" [floatPlaceholder]="'always'">
      <input type="search" mdInput placeholder="Search" [(ngModel)]="search" />
    </md-input-container>
    <button (click)="query()" md-icon-button class="search-sm">
      <md-icon>search</md-icon>
    </button>
  </span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <a md-menu-item routerLink="/register" routerLinkActive="active">
      <md-icon>fingerprint</md-icon>
      <span>Register</span>
    </a>
    <a md-menu-item *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active">
      <md-icon>account_circle</md-icon>
      <span>Connect</span>
    </a>
    <a md-menu-item *ngIf="isLoggedIn" (click)="logout()">
      <md-icon>exit_to_app</md-icon>
      <span>Logout</span>
    </a>
    <button md-menu-item (click)="checkToken()">
      <md-icon>network_check</md-icon>
      <span>Token</span>
    </button>
  </md-menu>
</md-toolbar>
