<pys-progress-event-bar></pys-progress-event-bar>
<nav fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
  <button class="title" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" md-button fxFlex="nogrow">
    <md-icon>home</md-icon>
    <span>PlayYourSong</span>
  </button>
  <div fxFlex="grow" class="search-box" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
    <md-select placeholder="Sites" fxFlex="nogrow" class="search-menu" [(ngModel)]="activeServices" multiple (change)="onChange()">
      <md-option *ngFor="let service of services" [value]="service">
        <span>{{service.name}}</span>
      </md-option>
    </md-select>
    <md-input-container fxFlex="grow" class="search-sm" [floatPlaceholder]="'never'">
      <input type="search" mdInput placeholder="Search" [(ngModel)]="search" (keyup.enter)="query()" />
    </md-input-container>
    <button (click)="query()" md-icon-button class="search-sm">
      <md-icon>search</md-icon>
    </button>
  </div>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <a md-menu-item routerLink="/register" routerLinkActive="active">
      <md-icon>fingerprint</md-icon>
      <span>Register</span>
    </a>
    <a md-menu-item *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active">
      <md-icon>account_circle</md-icon>
      <span>Connect</span>
    </a>
    <a md-menu-item *ngIf="isLoggedIn" (click)="logout()">
      <md-icon>exit_to_app</md-icon>
      <span>Logout</span>
    </a>
    <button md-menu-item (click)="checkToken()">
      <md-icon>network_check</md-icon>
      <span>Token</span>
    </button>
  </md-menu>
</nav>
