@import "colors";
nav {
  padding-left: 60px;
  height: 80px;
  border-bottom: 1px solid $pys-primary-default;
  .search-box {
    & > .search-menu {
      margin-bottom: 5px;
    }
    & > .mat-input-container {
    }

    & > .search-sm {
    }
    button.search-sm {
      mat-icon {
        font-size: 14px;
      }
    }
  }
  .title {
    min-width: initial;
    &.active {
      background-color: $pys-primary-default;
    }
  }
}
