<form [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>PlayYourSong account</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="pys-form-group">
        <mat-input-container>
          <input matInput type="text" placeholder="Username/Email" class="form-control" formControlName="identifier" required >
        </mat-input-container>
        <pys-error-message-list [errorMessages]="errorMessages['identifier']"></pys-error-message-list>
      </div>
      <div class="pys-form-group">
        <mat-input-container>
          <input matInput type="password" placeholder="Password" class="form-control" formControlName="password" required >
        </mat-input-container>
        <pys-error-message-list [errorMessages]="errorMessages['password']"></pys-error-message-list>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button [disabled]="loginForm.invalid" >Login</button>
    </mat-card-actions>
  </mat-card>
</form>
