$pys-primary-default: #ffd740;
$pys-primary-lighter: #ffe57f;
$pys-primary-darker: #ffc400;

$pys-accent-default: #b0bec5;
$pys-accent-lighter: #cfd8dc;
$pys-accent-darker: #263238;

$pys-warn-default: #ef9a9a;

$pys-danger: #e53935;


