@import "_colors";

:host-context(.mat-sidenav-closed) {
  .tracknav-open{
    display: none;
  }
}

md-list-item {
  &.current {
    border-bottom: 1px solid white;
  }
  .track-title {
    color: white;
  }
}
