@import "_colors";

md-grid-list {
  md-grid-tile {
    span{
      &.title, &.mat-subheader{
        color: white;
        font-weight: bold;
        margin-bottom: 20px;
        font-size: 21px;
      }
    }
  }
  }
