<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
    *ngFor="let tile of tiles"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color">
    <span class="title">{{tile.title}}</span>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="4"
    [rowspan]="6"
    [style.background]="'#ffca28'">
    <mat-list>
      <span mat-subheader>Search your favorite songs cross-applications</span>
        <mat-list-item>
          <mat-chip-list>
            <mat-icon mat-list-avatar [fontSet]="'fa'" [fontIcon]="'fa-soundcloud'"></mat-icon>
            <mat-chip><a class="link">Register</a></mat-chip>
            <mat-chip><a class="link">Sync</a></mat-chip>
          </mat-chip-list>
        </mat-list-item>
        <mat-list-item>
          <mat-chip-list>
            <mat-icon mat-list-avatar [fontSet]="'fa'" [fontIcon]="'fa-youtube'"></mat-icon>
            <mat-chip><a class="link">Register</a></mat-chip>
            <mat-chip><a class="link">Sync</a></mat-chip>
          </mat-chip-list>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-avatar [fontSet]="'fa'" [fontIcon]="'fa-vimeo'"></mat-icon>
          <mat-chip-list>
            <mat-chip><a class="link">Register</a></mat-chip>
            <mat-chip><a class="link">Sync</a></mat-chip>
          </mat-chip-list>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-avatar [fontSet]="'fa'" [fontIcon]="'fa-bandcamp'"></mat-icon>
          <mat-chip-list>
            <mat-chip><a class="link">Register</a></mat-chip>
            <mat-chip><a class="link">Sync</a></mat-chip>
          </mat-chip-list>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-avatar [fontSet]="'fa'" [fontIcon]="'fa-twitch'"></mat-icon>
          <mat-chip-list>
            <mat-chip><a class="link">Register</a></mat-chip>
            <mat-chip><a class="link">Sync</a></mat-chip>
          </mat-chip-list>
        </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="3"
    [rowspan]="3"
    [style.background]="'#d4e157'">
    <mat-list>
      <mat-list-item><span class="title">Build up your favorite playlist</span></mat-list-item>
      <mat-list-item>

      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="3"
    [style.background]="'#66bb6a'"></mat-grid-tile>
</mat-grid-list>
