mat-list {
  & > mat-list-item {
    overflow: hidden;
    .youtube-list-avatar {
      width: 120px;
      height: 70px;
      position: relative;
      overflow: hidden;
      & > img {
        position: absolute;
        left: 0;
        top: -10px;
      }
    }
  }
}
