@import '_colors';

div {
  white-space: nowrap;
}
.menu{
  &.main-menu {
    margin-bottom: 10px;
  }
  &.sub-menu {
    .menu-item {
      color: $pys-accent-default;
      .mat-icon {
      }
    }
    border-bottom: 1px solid $pys-primary-default;
    border-top: 1px solid $pys-accent-default;
  }
}
