<div>
  <pys-player></pys-player>
</div>
<div class="menu sub-menu" *ngIf="fullMode" fxLayout="row" fxLayoutAlign="center center">
  <pys-clear-button class="menu-item" (queueCleared)="onClearQueue()"></pys-clear-button>
  <pys-save-button class="menu-item" (queueSaved)="onSaveQueue()"></pys-save-button>
  <pys-repeat-button class="menu-item" (repeatModeChanged)="onRepeatMode($event)"></pys-repeat-button>
  <pys-shuffle-button class="menu-item" (shuffled)="onShuffled()" (shuffleCanceled)="onShuffleCanceled()" [shuffles]="shuffles"></pys-shuffle-button>
</div>
