<form [formGroup]="registerForm" (ngSubmit)="register()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
      <mat-card-subtitle>New PlayYourSong account</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-input-container>
          <input matInput type="text" placeholder="Username" class="form-control" formControlName="username" required >
        </mat-input-container>
        <mat-progress-bar class="inline-progress" [mode]="usernameProgress"></mat-progress-bar>
        <pys-error-message-list [errorMessages]="errorMessages['username']"></pys-error-message-list>
      </div>
      <div>
        <mat-input-container>
          <input matInput type="email" placeholder="Email" class="form-control" formControlName="email" required >
        </mat-input-container>
        <pys-error-message-list [errorMessages]="errorMessages['email']"></pys-error-message-list>
      </div>
      <div>
        <mat-input-container>
          <input matInput type="password" placeholder="Password" class="form-control" formControlName="password" required >
        </mat-input-container>
        <pys-error-message-list [errorMessages]="errorMessages['password']"></pys-error-message-list>
      </div>
      <div>
        <mat-checkbox formControlName="terms" [required]="true" >I hereby accept the <a>terms of use</a> of the application</mat-checkbox>
        <pys-error-message-list [errorMessages]="errorMessages['terms']"></pys-error-message-list>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button [disabled]="registerForm.invalid" >Register</button>
      <button type="reset" mat-button (click)="clean()">Reset</button>
    </mat-card-actions>
  </mat-card>
</form>
