:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {

}
mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  mat-progress-bar {
    &.inline-progress {
      padding-left: 5em;
      width: 10em;
      display: inline-block;
    }
  }
  mat-card-content {
    width: 100%;
  }
  .pys-form-group {
    width: 100%;
    flex: 1 1 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }
}
