<mat-drawer-container>
  <mat-drawer mode="side" [opened]="open" (close)="onTracknavClosed()">
    <div class="tracknav-header" fxLayout="column" fxLayoutAlign="center start">
      <div class="tracknav-closed">
        <button mat-icon-button (click)="toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <button class="tracknav-open btn-inversed" fxFlexAlign="end" mat-icon-button (click)="toggle()">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </div>
    <pys-player-menu [fullMode]="open" class="tracknav-menu"></pys-player-menu>
    <pys-playlist></pys-playlist>
  </mat-drawer>
  <ng-content></ng-content>
</mat-drawer-container>
