<md-sidenav-container>
  <md-sidenav  mode="side" [opened]="open" (close)="onTracknavClosed()">
    <div class="tracknav-header" fxLayout="column" fxLayoutAlign="center start">
      <div class="tracknav-closed">
        <button md-icon-button (click)="toggle()">
          <md-icon>menu</md-icon>
        </button>
      </div>
      <button class="tracknav-open btn-inversed" fxFlexAlign="end" md-icon-button (click)="toggle()">
        <md-icon>chevron_left</md-icon>
      </button>
    </div>
    <pys-player-menu [fullMode]="open" class="tracknav-menu"></pys-player-menu>
    <!-- TODO : Playlist component -->
    <pys-playlist></pys-playlist>
  </md-sidenav>
  <ng-content></ng-content>
</md-sidenav-container>
