@import "_colors";

$sidenav-closed-width: 250px;
$user-agent-margin: 8px;
md-sidenav-container {
  width: 100%;
  min-height: calc(100vh - 2 * #{$user-agent-margin});
  height: 100%;
  margin: 0;
  md-sidenav {
    background-color: $pys-accent-darker;
    &.mat-sidenav-side {

      &.mat-sidenav-closed {
        width: auto;
        overflow: hidden;
        visibility: visible;
        transform: translate3d(0,0,0) !important;
        background-color: transparent;

        .tracknav-header {
          border-bottom: none;
        }

        .tracknav-menu {
          max-width: calc(#{$sidenav-closed-width});
          overflow: hidden;
          flex-direction: column;
          align-items: center;
        }

        .tracknav-open {
          display: none;
        }

        .tracknav-closed {
          display: block;
        }
      }

      .tracknav-closed {
        display: none;
      }


    }

    .tracknav-header {
      padding-left: 8px;
      @media (max-width: 960px) and (orientation: landscape){
        min-height: 48px;
      }
      min-height: 80px;
      border-bottom: 1px solid $pys-primary-default;

      .btn-inversed {
        color: $pys-primary-default;
      }
    }

    .tracknav-menu {
      display: inline-block;
      width: 100%;
    }
  }
}
